{% extends "panel.html" %}
{% block panel %}
<span class="label label-danger" id="cust_fname">Customer First Name</span>
<div class="form-group">
  <div class="input group">
    {{ form.cust_fname(size=20, test="test", class_="form-control") }}
    {% if form.cust_fname.errors %}
    <ul class=errors>
      {% for error in form.cust_fname.errors %}
        <li>
          {{ error }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
<span class="label label-danger" id="basic-addon2">Customer Last Name</span>
<div class="form-group">
  <div class="input group">
    {{ form.cust_lname(class_="form-control") }}
    {% if form.cust_lname.errors %}
    <ul class=errors>
      {% for error in form.cust_lname.errors %}
        <li>
          {{ error }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
<span class="label label-danger" id="basic-addon2">Space Increase (in GB)</span>
<div class="form-group">
  <div class="input group">
    {{ form.space_add(class_="form-control") }}
    {% if form.space_add.errors %}
    <ul class=errors>
      {% for error in form.space_add.errors %}
        <li>
          {{ error }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
<span class="label label-danger" id="basic-addon3">Cost Center</span>
<div class="form-group">
  <div class="input group">
    {{ form.cost_center(class_="form-control") }}
    {% if form.cost_center.errors %}
    <ul class=errors>
      {% for error in form.cost_center.errors %}
        <li>
          {{ error }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
<span class="label label-danger" id="basic-addon4">Work Order</span>
<div class="form-group">
  <div class="input group">
    {{ form.work_order(class_="form-control") }}
    {% if form.work_order.errors %}
    <ul class=errors>
      {% for error in form.work_order.errors %}
        <li>
          {{ error }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
<div class="form-group">
  <button type="submit" class="btn btn-danger">{{ btn_txt }}</button>
</div>
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>IMPORTANT!!</strong> Caller should have their directors approval for charges to cost centers!!
</div>
{% endblock %}
