{% extends "panel.html" %}
{% block panel %}
<span class="label label-danger" id="cust_fname">Customer First Name</span>
<div class="form-group">
  <div class="input group">
    {{ form.cust_fname(size=20, test="test", class_="form-control") }}
  </div>
</div>
<span class="label label-danger" id="basic-addon2">Customer Last Name</span>
<div class="form-group">
  <div class="input group">
    {{ form.cust_lname(class_="form-control") }}
  </div>
</div>
<span class="label label-danger" id="basic-addon3">Cost Center</span>
<div class="form-group">
  <div class="input group">
    {{ form.cost_center(class_="form-control") }}
  </div>
</div>
<span class="label label-danger" id="basic-addon4">Work Order</span>
<div class="form-group">
  <div class="input group">
    {{ form.work_order(class_="form-control") }}
  </div>
</div>
<div class="form-group">
  <button type="submit" class="btn btn-danger">{{ btn_txt }}</button>
</div>
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>IMPORTANT!!</strong> Caller should have their directors approval for charges to cost centers!!
</div>
{% endblock %}
