{% extends "base.html" %} {% block content %}
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h6 class="panel-title">{{ title|e }}</h6>
          </div>
          <div class="panel-body">
            <form class="" method="post">
              {{ form.hidden_tag() }}
              {% block panel %} {% endblock %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7"></div>
  </div>
</div>
{% endblock %}
